@import "tailwindcss";

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {
  --font-sans: var(--font-be-vietnam-pro);
  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}


body {
  font-family: "Be Vietnam Pro", sans-serif;
}